# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
castellers

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# SQLite3 test databases
*.db

# Log files
*.log

## Front end
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage

# vscode preferences
.vscode

# vim swp files
*.swp

# Configuration file
config.yaml
