language: go

go:
- '1.11'
- master

sudo: required

services:
- docker

env:
- APP_LOG_FILE="castellers.log"
- GO111MODULE=on

install: true

before_install:
- openssl aes-256-cbc -K $encrypted_7eca150e901f_key -iv $encrypted_7eca150e901f_iv -in travis-deploy.enc -out travis-deploy -d
- eval "$(ssh-agent -s)"
- chmod 600 travis-deploy
- ssh-add travis-deploy

before_script:
- cd frontend && npm install && cd ..

script:
- go test -v -mod=vendor ./...
- cd frontend
- npm run test
- npm run lint
- cd ..

before_deploy: bash build.sh latest

deploy:
  skip_cleanup: true
  provider: script
  script: bash deploy.sh latest
  on:
    go: '1.11'
    branch: master
