.p-default.p-curve {
    margin-top: 13px;
}

.p-default.p-curve div {
    margin-top: -4px;
}

.member-icon {
    margin-left: 8px;
}

.required:after {
    content:" *";
    color:#c91414;
    margin-right: 5px;
}